---
BasedOnStyle: GNU
AlignEscapedNewlines: Left
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakAfterDefinitionReturnType: None
BinPackArguments: false
BinPackParameters: OnePerLine
BreakAfterReturnType: None
BreakBeforeBraces: Allman
CommentPragmas: ""
IncludeBlocks: Merge
IndentCaseLabels: true
IndentWidth: 4
KeepEmptyLines:
  AtStartOfBlock: false
  AtStartOfFile: false
LineEnding: LF
PenaltyReturnTypeOnItsOwnLine: 1000000
PenaltyBreakAssignment: 1000
PenaltyExcessCharacter: 100
PenaltyBreakOpenParenthesis: 100000
SpaceBeforeParens: Custom
